# Python
**/venv/
**/__pycache__/
*.py[cod]
*$py.class
.pytest_cache/

# Environments
.env
.env.*

# IDEs
.vscode/

# Binaries & Large Files
*.tar.gz
**/kubo/
**/wallets/
cookies.txt
get-docker.sh

# Fabric Samples
go/
fabric-samples/
bin/
config/
**/vendor/
